.flex-1 {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-2 {
  -ms-flex: 2;
  flex: 2;
  -ms-flex-negative: 0;
  flex-shrink: 0; 
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

html,
body {
  height: 100%;
  background-color: #000; 
  margin: 0;
  padding: 0;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  box-sizing: border-box;
}

.elevator {
  width: 300px;
  position: relative;
  padding: 40px 40px 0;
  background: linear-gradient(to bottom, #253852 0%, #3f6679 55%, #253852 84%, #3f6679 100%); 
}

.elevator:before {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 40px;
  z-index: 1;
  width: calc(50% - 40px);
  background: linear-gradient(to bottom, #253852 0%, #3f6679);
  content: '';
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);
  transition: all 0.1s linear; 
}

.elevator:after {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 0;
  z-index: 1;
  width: calc(50% - 40px);
  background: linear-gradient(to bottom, #253852 0%, #3f6679);
  content: '';
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);
  transition: all 0.1s linear; 
}

.elevator--open:before, .elevator--open:after {
  width: 0; 
}

.elevator__board {
  position: absolute;
  top: 13px;
  left: calc(50% - 20px);
  width: 40px;
  height: 16px;
  font-size: 0.7em;
  color: #c1ff02;
  text-align: center;
  background-color: #000;
  border: 2px solid #355969; 
}

.elevator__people {
  position: relative;
  width: 100%; 
}

.elevator__people:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  box-shadow: inset 0 4px 20px #000; 
}

.elevator__people > img {
  width: 100%; 
}

.elevator__panel {
  padding: 6px 4px;
  background: linear-gradient(to bottom, #3f6679 0%, #253852 100%);
  border: 2px solid #385e70;
  box-shadow: 0 0 0 4px #263651;
  width: auto;
  display: table;
  position: fixed;
  bottom: 30px;
}

.add__floor {
  position: fixed;
  height: 30px;
  right: 0;
  bottom: 0;
  color: #fff;
}

.add__elevator {
  position: fixed;
  right: 0;
  height: 30px;
  bottom: 30px;
  color: #fff;
}

.elevator__button {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 4px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #66949f;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.elevator__button.active, .elevator__button:active {
  color: #c1ff02;
  border-color: #c1ff02; 
}

.elevator__button:active {
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: none; 
}

.elevator__button--lg {
  width: 40px;
  border-radius: 2px; 
}

.elevator__status {
  position: absolute;
  left: 0;
  z-index: 3;
  color: #fff;
}
